<div class="jumbotron">
    Welcome<br /><br />
    In order to write to the log file visit the following address:<br />
     <b>@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + HttpContext.Current.Request.ApplicationPath)Log/{priority}/{message}</b>
</div>
<div class="row">
</div>
